.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  min-height: 400px;
  margin: 50px auto;
  background: #EDF774;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);

}

.heading {
  margin-top: -80px;
  font-size: 60px;
  color: white;
  font-weight: 800;
  text-shadow: white;
}